.cardContainer {
  border: 1px solid gray;
  border-radius: 4px;
  height: 15rem;
  width: 10rem;
}

.cardContent {
  padding: 16px;
}

.cardFooter {
  border-top: 1px solid gray;
  margin-top: 16px;
}

.cardFooterContent {
  margin-top: 16px;
}

.cardHeader {
  height: 4rem;
}
.extraInfo {
  margin-bottom: 16px;
}
